body {
  font-family: "Tsukushi A Round Gothic Regular";
}

h1 {
  text-align: center;
  margin-top: 30px;
}
footer {
  text-align: center;
}

.source {
  text-decoration: none;
  background-color: transparent;
  border: none;
}
