.Dictionary section {
  background: white;
  border: 2px solid skyblue;
  border-radius: 10px;
  margin: 15px auto;
  padding: 30px;
}

form {
  margin: 20px;
}
input {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 25%;
  border: 1px solid rgb(78, 174, 83);
  border-radius: 2px;
  padding: 10px;
}
